<h1>Orders of a given Vendor: </h1>

<h2>@Model["order"].Description</h2>
<h3>Vendor: @Model["vendor"].Name</h3>

<a href='/vendors/@Model["vendor"].Id/order/new'>Add another order</a>
<a href='/vendors'>View all categories</a>