<h1>Add an order</h1>
<p>Add an order here:</p>

<form action="/orders" method="post">
  <label for="orderName">Category name</label>
  <input id="orderName" name="orderName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/categories">Back to categories.</a></p>