@using Pierre.Models;

<h3>Here are all the orders at this Vendor:</h3>

<ol>
@foreach (Vendor vendor in @Model["orders"])
{
  <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@item.Description</a></li>
}
</ol>

<p><a href='/vendors/@Model["vendor"].Id/order/new'>Add a new item</a></p>
<p><a href='/vendors'>Return to category list</a></p>
<p><a href='/'>Return to Main Page</a></p>